/index copy 2.html
/index copy 3.html
/index copy 4.html
/index copy 5.html
/index copy 6.html
/index copy.html
/index.copy
/script copy 2.js
/script copy 3.js
/script copy 4.js
/script copy.js
/script.js.copy
/styles copy 2.css
/styles copy 3.css
/styles copy 4.css
/styles copy.css
/styles.css.copy